/* debug */
header {
    background-color: #E579E6;
}

section:first-of-type {
    background-color: #E1D67A;
}

section:last-of-type {
    background-color: #0689F8;
}

div.top,
div.bottom>div {
    background-color: #ABCFE7;
}

footer {
    background-color: #8801FE;
}
/* /debug */

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

body {
    position: relative;
    background-color: white;
}

body>div {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 900px;
}

/* header page */
header {
    height: 120px;
    margin-bottom: 20px;
}

/* body page  */
section:first-of-type {
    height: 460px;
    margin-bottom: 20px;
}

section:last-of-type {
    height: 470px;
}

div.top {
    height: 70px;
    margin-bottom: 20px;
}

div.bottom>div {
    float: left;
    height: 360px;
}
div.left,
div.right {
    width: 200px;
}
div.center {
    width: 470px;
    margin: auto 15px;
}

/* footer page */
footer {
    height: 50px;
    margin: 10px auto 20px auto;
}
